<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-title class="ion-text-center">Lista de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="taskText" placeholder="Escribe una tarea"></ion-input>
        <ion-button expand="full" (click)="addTask()" color="success">
          {{ editingTaskId ? 'Actualizar' : 'Agregar' }}
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Lista de tareas desde Firestore -->
  <ion-list class="task-list">
    <ion-item *ngFor="let task of tasks$ | async" class="task-item">
      <ion-label>{{ task.title }}</ion-label>
      <div class="button-group">
        <ion-button (click)="editTask(task)" color="secondary">
          <ion-icon name="create-outline"></ion-icon>
          Editar
        </ion-button>
        <ion-button (click)="deleteTask(task.id!)" color="tertiary">
          <ion-icon name="trash-outline"></ion-icon>
          Borrar
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>


<style>
  .header-toolbar {
  --background: #E75480 !important; /* Rosa bajito */
}

  .task-list {
    border-radius: 10px;
    padding: 10px;
  }

  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  ion-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  ion-content {
  --background: #ffe6f2 !important;
}

</style>
